<div
  class="flex duration-300 text-[14px] leading-[18px] lg:text-[16px] lg:leading-[20px] xl:text-[18px] xl:leading-[22px] 2xl:text-[20px] 2xl:leading-[24px]"
>
  <div>
    <div class="max-h-0 overflow-hidden transition-all">
      <div class="my-3 lg:my-6 xl:my-10">
        <slot />
      </div>
    </div>
  </div>
</div>
