---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Image from "../../assets/operacija/9.png";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";
---

<Layout title="Планируй время на больничный - Руками Трогать">
  <PostTitle>Планируй время на больничный</PostTitle>
  <img src={Image.src} alt="Планируй время на больничный" class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Дорогая, сейчас как никогда важно поставить себя на первое место и осознать, что путь лечения будет нескорый.
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    Не торопись возвращаться в свой обычный режим, на этом этапе нужно быть очень осторожной и понимать, что речь идет о месяцах, а не днях.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    Открывают больничный, как только поставлен диагноз или даже до окончания диагностики. В случае, если пациент отказывается от оформления по причине нормального самочувствия, то его открывают с начала лечения.
  </PostContentItem>
  <PostContentItem>
    Основанием является подтвержденный диагноз «Онкологическое заболевание» и, соответственно, наличие нетрудоспособности. В какой именно момент открыть больничный решает лечащий врач, исходя из имеющихся обстоятельств:
    <ul class="list-disc pl-6 mt-2">
      <li>Характер опухоли и стадия развития.</li>
      <li>Локализация метастазов.</li>
      <li>Особенности здоровья пациента.</li>
      <li>Характер трудовой деятельности пациента.</li>
      <li>Моральное состояние пациента.</li>
      <li>Назначение химиотерапии, лучевой терапии.</li>
      <li>Подготовка больного к операции.</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <strong>Сколько дней может длиться оплачиваемый больничный лист?</strong><br />
    Первоначально <strong>документ оформляется на 10 дней</strong>, а потом <strong>продлевается каждые 10 дней</strong>, но не более чем на 30 дней лечащим врачом. Для последующего продления до максимального срока понадобится врачебная комиссия (при случаях с онкологией решение комиссией принимается очень быстро, как правило лечащий врач делает это самостоятельно или просят подойти поставить подпись и печать в кабинете ВКК).
  </PostContentItem>
  <PostContentItem>
    <strong>Сколько можно находиться на бюллетене непрерывно?</strong><br />
    При онкологическом заболевании <strong>максимальная непрерывная продолжительность составляет 120 дней</strong>. Если больничный прерывался, то <strong>максимальная суммарная продолжительность 150 дней</strong>.
  </PostContentItem>
  <PostContentItem>
    Если этого времени оказалось недостаточно, то больному выдают <strong>обходной лист</strong>. Необходимо пройти ряд анализов и обследований по месту жительства и прийти на ВКК (это уже не так быстро, но тоже несложно).
  </PostContentItem>
  <PostContentItem>
    <strong>Максимальные сроки — обычно это суммарно с начала лечения 240 дней, после этого снова ВКК и три варианта:</strong>
    <ul class="list-decimal pl-6 mt-2">
      <li>больничный закрывают;</li>
      <li>при нетрудоспособности, но при этом положительной динамике иногда могут продлить больничный и суммарно может получиться 360 дней;</li>
      <li>пациенту сразу после окончания максимального больничного предлагают оформить инвалидность.</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    Работать или не работать при проведении химиотерапии лучше <strong>решать индивидуально</strong>. Многим состояние позволяет не только работать удаленно, но и выходить на работу. Зависит от индивидуальной переносимости лекарств, частоты капельниц, характера самой работы. То же самое можно сказать и про операцию — зависит от ее объема. Иногда химиотерапия проводится и после операции, и это замедляет скорость восстановления достаточно заметно.
  </PostContentItem>
  <PostContentItem>
    Относительное послеоперационное восстановление может занять <strong>от одного месяца до полугода</strong>.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>