---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Image from "../../assets/remissia/16.png";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";

const pageTitle = "Сексуальная жизнь";
---

<Layout title={pageTitle}>
  <PostTitle>{pageTitle}</PostTitle>
  <img src={Image.src} alt={pageTitle} class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Лечение не является противопоказанием к сексуальной жизни.
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    Однако прислушивайтесь внимательно к своим желаниям и потребностям. Не заставляйте себя заниматься сексом, если вам не хочется, неловко или вы плохо себя чувствуете. Но и не отказывайте себе в близости, если есть настроение.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    После операции важно выбирать позы и положения, в которых вам будет комфортно. Если вы испытываете неловкость из за послеоперационных шрамов и не готовы показать свое тело партнеру, можно оставаться в белье. Постарайтесь откровенно поговорить о своих чувствах и желаниях, так вам будет проще понять друг друга.
  </PostContentItem>
  <PostContentItem>
    При гормональной терапии у женщин в возрасте, далеком от менопаузы, появляются симптомы климакса — в том числе сухость влагалища, поэтому во время секса используйте специальные смазки – лубриканты. <strong>Избегайте средств, содержащих эстрогены!</strong>
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>
