---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Image from "../../assets/remissia/2.png";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";
---

<Layout title="Выпадение волос - Руками Трогать">
  <PostTitle>Выпадение волос</PostTitle>
  <img src={Image.src} alt="Выпадение волос" class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Побочным действием химиопрепаратов является аллопеция (выпадение волос), происходит это везде — в буквальном смысле. Надо сказать, что в некоторых местах отсутствие волос очень кстати.
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    Выпадение волос на голове можно скрыть с помощью парика, красивых платков и бандан, в холодное время года выручают шапочки. Мода сейчас непостоянна – некоторые пациентки никак не скрывают “лысую” голову, особенно когда предпочитают неформальный или авангардный стиль в одежде. После окончания химии волосы отрастают довольно быстро и, почему-то часто вьются. Самое время для экспериментов со средствами для ухода и укладки!
  </PostContentItem>
  <PostContentItem>
    Но выпадают также брови и ресницы – конечно их отсутствие заметнее, поэтому многие делают татуаж бровей. В группах, где общаются девушки, пережившие рак, можно попросить личных рекомендаций мастеров, некоторые их этих мастеров выполняют эту процедуру бесплатно для онко-пациенток (советуем посмотреть профиль школы <a href="https://www.instagram.com/romazanova_alla/" class="underline decoration-solid hover:no-underline" target="_blank" rel="noopener">Аллы Рамазановой</a>, она также первая в Беларуси начала риусовать ареолы и теперь обучает этому специалистов по всем миру). Татуаж можно делать до начала химиотерапии.Также стоит помнить, что брови вырастут, а татуировка (все же, татуаж бровей – это долговременная процедура) с вами останется надолго. Поэтому, если ты не уверена, то можешь рассмотреть варианты стойких крем-карандашей или <a href="https://makeup.ru/article/kak-polzovatsya-trafaretom-dlya-brovej" class="underline decoration-solid hover:no-underline" target="_blank" rel="noopener">трафаретов для бровей</a>.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>
