---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Image from "../../assets/operacija/8.png";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";
---

<Layout title="Как близким поддержать тебя во время лечения - Руками Трогать">
  <PostTitle>Как близким поддержать тебя во время лечения</PostTitle>
  <img src={Image.src} alt="Как близким поддержать тебя во время лечения" class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Какие бы мы ни были, сильными и слабыми, первая реакция — это всегда шок. Родные и близкие, конечно, тоже расстроены, но в первые несколько недель после диагноза заболевшему раком совсем не до того, чтобы думать о чувствах окружающих.
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    Самое верное, пожалуй, стараться больше слышать и слушать, и не обижаться на резкие проявления эмоций. Хорошо, если близкие займутся поиском онкосообществ или знакомых, которые пережили рак. Больше всего помогает поговорить с человеком, который может простым языком и личным опытом объяснить, что ждет на пути к выздоровлению.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    Выживаемость при РМЖ высокая, поэтому это <strong>работает еще как и ролевая модель.</strong> Если пациент и родные в хороших отношениях, проще понять как именно позаботиться друг о друге. Если не получается, попробуйте сходить к психологу — по отдельности или вместе.
  </PostContentItem>

  <PostContentItem>
    Первое, с чем сталкивается онкологический больной, это диагностика, далее — выбор методов лечения и сам лечебный процесс. На этом этапе важно понять, что каким бы сложным ни был процесс лечения, <strong>избегание этого процесса или отрицание наличия заболевания грозит более серьезными последствиями.</strong>
  </PostContentItem>
  <PostContentItem>
    Лечение еще не начато, изменений и побочных эффекта пока нет, но постоянное состояние стресса и напряжения, необходимость прохождения разных диагностических процедур, уже заставляет некоторых из нас отказаться от привычного ритма жизни, дел и общения. Для того, чтобы вернуться в состояние, приближенное к норме, <strong>нам нужно разное</strong> — побыть одному или дружеская поддержка, замедлиться или отвлечься на водоворот событий и дел. Универсальный рецепт тут один — заботиться о себе, прислушиваться к реакциям своего организма.
  </PostContentItem>
  <PostContentItem>
    Лечение, а в большинстве случаев оно включает химиотерапию, связано с ее побочными эффектами. А значит оно влияет и на физическое, и на психологическое, и ментальное состояние. Одним из самых неприятных эффектов после химиотерапии рака молочной железы является эффект «химического мозга» – снижение памяти, внимания и иногда и скорости речи. <strong>Поэтому не стоит злиться на себя, лучше научиться жить на пониженных скоростях</strong>.
  </PostContentItem>
  <PostContentItem>
    Какие бы разные ни были побочки, прежде всего это физическая слабость и быстрая утомляемость. Несмотря на то, что некоторые находят силы и возможность между этапами лечения продолжать работать, на бытовом уровне нужно быть готовой к изменениям – <strong>заменить походы в магазин службами доставки; пользоваться услугами клининговых компаний или помощью родных, просить друзей-автомобилистов о помощи, когда нужно ехать в больницу</strong>. Конечно, можно сказать, что не у всех есть деньги на такие изменения. Но, по правде говоря, общие расходы не слишком увеличиваются – ведь ушли другие ежемесячные расходы (косметолог, фитнес, маникюр, парикмахер) и прямо очень сильно, прости нас за такой сарказм, но сократились расходы на развлечения. Кроме того, близкие онкологических больных очень часто страдают от того, что не знают, как помочь – и будут только рады конкретным просьбам. <strong>На самом деле, все люди очень любят помогать и чувствовать себя нужными.</strong>
  </PostContentItem>
  <PostContentItem>
    Каким бы сильным не было наше желание помочь родным и близким, иногда мы можем совершать ошибки просто не осознавая, как наши слова могут ранить другого.
  </PostContentItem>
  <PostContentItem>
    Мы все — разные, у нас разный опыт, разные страхи и переживания.<br />
  </PostContentItem>
  <PostContentItem>
    Есть два основных принципа, которые следует соблюдать в коммуникации:
    <ul class="list-disc pl-6 mt-2">
      <li>Первое — человек имеет <strong>право отказаться от вашей помощи</strong>, даже не объясняя причин. И здесь важно не обижаться, иначе происходит нарушение границ.</li>
      <li>И второе — <strong>держите “двери открытыми”</strong>. Скажите, что предложение о помощи в силе, и вы готовы помочь, если будет такая необходимость.</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    Вот несколько примеров удачной замены в коммуникации с онкологическим пациентом. Попробуйте вместо: «тебе нужно сделать…», «я бы на твоем месте…» говорить более эмпатичные фразы «если ты сейчас можешь, то давай обсудим….» и «что ты думаешь по этому поводу?».
  </PostContentItem>
  <PostContentItem>
    Вот еще примеры что говорить онко-пациенту категорически нельзя:
    <ul class="list-disc pl-6 mt-2">
      <li>Я пойду с тобой к врачу в любом случае, потому что ты наверняка что-то упустишь!</li>
      <li>Тебе стоит сейчас читать другие книги, смотреть другие фильмы.</li>
      <li>Дай, я сделаю это за тебя.</li>
      <li>Не плачь! Не бойся! Тебе не о чем переживать!</li>
      <li>Надо было раньше обратиться к врачу.</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    Получить поддержку и найти единомышленниц ты всегда можешь онлайн в группах и сообществах:
    <ul class="list-disc pl-6 mt-2">
      <li><a href="https://www.instagram.com/life_psyholog/" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">Онко-психолог Татьяна Хорошунова</a> — эфиры, посты, много практических советов по психологической помощи для онкопациентов и их родных.</li>
      <!-- <li>Победи рак — платформа по онкопросвещению и группам равных консультантов для пациентов и их родных.</li> -->
      <li><a href="https://oncopatient.by/" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">Oncopatient.by</a> — первый беларуский центр поддержки пациентов “Во имя жизни”.</li>
      <li><a href="https://thisislivingwithcancer.by/" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">Thisislivingwithcancer.by</a> — приложение для онко-пациентов и полезная информация по реабилитации, питанию, психологической самопомощи, для Беларуси доступно приложение в AppStore.</li>
      <li>Сообщество “Розовый круг” в Viber — вступить можно только по личному приглашению участниц (на данный момент их почти 800). Не стесняйся спросить у своих знакомых или соседок по палате о нем.</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>