---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Image from "../../assets/operacija/10.png";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";
---

<Layout title="Побочные эффекты. К чему быть готовой? - Руками Трогать">
  <PostTitle>Побочные эффекты. К чему быть готовой?</PostTitle>
  <img src={Image.src} alt="Побочные эффекты" class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Все противоопухолевые химиотерапевтические препараты по своему принципу действия являются мощнейшими клеточными ядами или токсинами, губительно воздействующими на быстро делящиеся клетки злокачественных опухолей при сравнительно меньшем отрицательном повреждающем воздействии на здоровые быстро делящиеся клетки и ткани организма хозяина, носителя злокачественной опухоли.
    </h2>
  </PostTitleDescription>
  <PostContentItem>
      Целью химиотерапии злокачественных опухолей является максимально <strong>полное уничтожение</strong>, убийство (эрадикация) или, по крайней мере, хотя бы торможение роста, размножения и метастазирования клона злокачественных клеток, с по возможности <strong>меньшим</strong> или хотя бы условно приемлемым повреждающим <strong>действием на организм хозяина</strong>.
  </PostContentItem>
    <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
      В связи с тем, что препараты, применяемые для химиотерапии, являются токсичными для делящихся клеток (замедляют процессы деления), наиболее часто побочные эффекты проявляются в тех тканях, клетки которых быстрее обновляются.
  </PostContentItem>
  <PostContentItem>
      Перестают расти и выпадают волосы, ногти. Другие побочные эффекты:
    <ul class="list-disc pl-6 mt-2">
        <li>Тошнота, рвота.</li>
        <li>Выпадение волос, ломкость ногтей.</li>
        <li>Нарушения аппетита, извращение вкусовых привычек.</li>
        <li><a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%B5%D0%BC%D0%B8%D1%8F" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">Анемия</a>, кровотечения.</li>
        <li><a href="https://ru.wikipedia.org/wiki/%D0%98%D0%BC%D0%BC%D1%83%D0%BD%D0%BE%D1%81%D1%83%D0%BF%D1%80%D0%B5%D1%81%D1%81%D0%B8%D1%8F" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">Иммуносупрессия</a> (угнетение иммунитета).</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
      Эти побочные эффекты проявляются уже <strong>после первой</strong> (красной) химии. «Народное» название химии получили по цвету, в который окрашиваются химиопрепараты (в данном случае антрациклины). <strong>Красная химия</strong> часто считается агрессивной, но на самом деле с учетом сопровождающих лечение препаратов некоторые переносят ее относительно легко. Самый заметный и сложный с психологической точки зрения эффект – выпадение волос. Спойлер – ты удивишься, но после лечения в ремиссии волосы вырастают еще гуще и лучше прежних!
  </PostContentItem>
  <PostContentItem>
      Еще один эффект — когнитивные нарушения, многие химиопрепараты оказывают побочное действие на мнестические и интеллектуальные функции головного мозга. Так, одним из самых неприятных эффектов после химиотерапии <a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D0%BA_%D0%BC%D0%BE%D0%BB%D0%BE%D1%87%D0%BD%D0%BE%D0%B9_%D0%B6%D0%B5%D0%BB%D0%B5%D0%B7%D1%8B" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">рака молочной железы</a> является <strong>эффект "химического мозга"</strong> – снижение памяти, внимания и иногда и скорости речи. В ремиссии эти функции тоже полностью восстанавливаются.
  </PostContentItem>
  <PostContentItem>
      Распространенное заблуждение – что настолько больной человек, проходящий сложное и токсичное лечение должен худеть. На самом деле из-за дексаметазона (сопроводительный препарат) появляется сильный аппетит и нарушается обмен веществ. Здесь стоит прислушаться к рекомендациям врача – и <strong>перейти на здоровое питании и диету, даже если тебя не тошнит</strong>. Чтобы избежать большого набор веса.
  </PostContentItem>
  <PostContentItem>
      Свои побочные эффекты у <strong>“белой химии”</strong>, так обычно называют лечение препаратами группы таксанов. Здесь наиболее выражены побочные эффекты, влияющие на <strong>нервную систему и мышцы</strong>.
  </PostContentItem>
    <PostContentItem>
        Несмотря на то, что нервные и мышечные клетки не относятся к быстро делящимся, при применении некоторых противоопухолевых лекарств может наступать их временное повреждение.
    </PostContentItem>
    <PostContentItem>
        Основными симптомами повреждения нервной и мышечной систем являются:
        <ul class="list-disc pl-6 mt-2">
            <li>чувство покалывания, жжение;</li>
            <li>онемение в руках или ногах;</li>
            <li>нарушение координации движений (потеря чувства равновесия);</li>
            <li>головокружение;</li>
            <li>ухудшение слуха;</li>
            <li>слабость или усталость мышц.</li>
        </ul>
    </PostContentItem>
    <PostContentItem>
        Боль в суставах возникает быстро, очень неприятная – но также быстро проходит. Накопительный эффект от лечения таксанами достаточно <strong>индивидуален</strong>. Поможет подобрать правильное лечение невролог и реабилитолог.
    </PostContentItem>
    <PostContentItem>
        <strong>Также стоит контролировать состоянии печени</strong>. Именно на нее приходится основная работа по выводу токсических веществ из организма и ей стоит помогать. Выбор препарата стоит согласовать с врачом (учитывая совместимость с другим лечением).
    </PostContentItem>
    <PostContentItem>
        Вообще, некоторые лекарства могут ослабить действие противоопухолевых препаратов или усилить их побочные эффекты. Поэтому перед прохождением курса химиотерапии необходимо сообщить врачу обо всех (в том числе приобретаемых без рецепта) принимаемых препаратах. Твой врач скажет, целесообразно ли продолжить их прием в период проведения химиотерапии. Аналогичным образом следует обсудить с врачом целесообразность приема пищевых и витаминных добавок, поскольку их эффективность у онкологических больных никем не доказана. Кроме того, большинство БАДов имеют антиоксидантный эффект – то есть снижают скорость разрушения клеток (то есть действуют прямо противоположно химии).
    </PostContentItem>

    <PostContentItem>
        <Divider />
    </PostContentItem>
    <PostTitleDescription>
    <h2 class="mb-5">
       КАК ОБЛЕГЧИТЬ ПОБОЧНЫЕ ЭФФЕКТЫ
    </h2>
  </PostTitleDescription>
  <PostContentItem>
      К сожалению, побочных эффектов не избежать, но если ты будешь к ним готова, то пройти этот этап будет гораздо легче. Итак, давай сначала опишем общие побочные эффекты, а потом узнаем, как их можно облегчить.
    </PostContentItem>
    <PostContentItem>
        Побочные эффекты химиотерапии могут различаться в зависимости от лекарства и дозы, но общими считаются нарушения кровообращения, анемия, заторможенная регенерация клеток, нарушения желудочно-кишечного тракта и нейротоксические эффекты.
    </PostContentItem>
<PostContentItem>
    Чтобы облегчить побочные эффекты химиотерапии, рекомендуется:
    <ul class="list-disc pl-6 mt-2">
        <li>Следить за питанием и принимать витамины;</li>
        <li>Употреблять больше жидкости и принимать средства от желудочно-кишечных расстройств;</li>
        <li>Принимать противовоспалительные и жаропонижающие средства;</li>
        <li>Принимать средства поддерживающей терапии, такие как стимуляторы клеточного деления и регенерации.</li>
    </ul>
</PostContentItem>
<PostContentItem>
    <strong>Тошнота.</strong> Очень многие пациенты боятся тошноты и рвоты, вызванных химиотерапией. Но, к счастью, на сегодняшний день уже доступны прекрасные противорвотные препараты, которые могут уменьшить, а иногда и снять совсем этот неприятный побочный эффект.
</PostContentItem>
<PostContentItem>
    Если вы чувствуете, что сопроводительная терапия вам не помогает, не надо терпеть! Скажите своему врачу о своем самочувствии. Рвота бывает нескольких типов: острая (наступает во время процедуры и может сохраняться в течение суток), отсроченная (развивается через два-три дня после вливания препарата) и рвота ожидания (развивается как психологический эффект, начинается за несколько дней до капельницы с химией). Ее можно лечить успокоительными препаратами, но только с назначения врача.
    </PostContentItem>
  <PostContentItem>
    В день введения химиопрепаратов не ешьте жирного, жареного. Утром еда должна быть жидкой, например, бульон. В течение дня можно пить воду, соки, а вот молоко пить нельзя. Проветривайте помещение, в котором вы находитесь, свежий воздух уменьшает тошноту, а сильные запахи ее усиливают. Если тошнота не отпускает, можно попробовать съесть что-нибудь с утра, не вставая с кровати, это может быть сухарик, например. Ешьте часто и понемногу. Пейте между едой и не запивайте, когда едите. Готовьте холодные блюда: горячая пища дает сильный запах, который может раздражать. Часто полощите рот растворами соли, соды (чайная ложка на стакан воды), просто водой. Это убьет микробы, которые могут вызвать стоматит и избавит от вкуса еды.
  </PostContentItem>
  <PostContentItem>
    Чтобы легче переносить тошноту и стоматит, можно добавить в рацион продукты и напитки, содержащие имбирь. Из основных блюд подойдут куриное филе, яйца, нежирная рыба, рис. Из фруктов и овощей – продукты детского питания (всевозможные пюре), желе, печенье, сухари. Из напитков – чай без сахара и вода. Если наблюдается рвота, надо помнить, что она опасна обезвоживанием.
  </PostContentItem>
  <PostContentItem>
    <strong>Диарея</strong> может быть не только неприятным, но и опасным симптомом, потому что может приводить к сильному обезвоживанию. Дискомфортно и мешает нормально жить.<br />
</PostContentItem>
<PostContentItem>
    Диарея после химиотерапии бывает у 75% пациентов, проявляясь следующими симптомами: частый жидкий стул; спастические боли в животе; кровь в каловых массах; слабость за счет обезвоживания. В случае сильной диареи нужно обратиться к своему врачу, чтобы он назначил лечение. Также можно облегчить свое состояние с помощью диеты.
</PostContentItem>
  <PostContentItem>
    Пейте больше. Это поможет вам восстановить объем жидкости, потерянный во время диареи. Лучшими вариантами питья в таких случаях являются мягкие, прозрачные жидкости – вода, прозрачный бульон, специальные спортивные напитки. Если после подобного питья вы испытываете жажду или тошноту, попробуйте разбавлять их водой. Пейте медленно и следите за тем, чтобы напитки были комнатной температуры. Оставляйте газированные напитки открытыми перед употреблением, чтобы из них вышел газ. Ешьте маленькими порциями много раз, а не три раза в день. Выбирайте пищу, богатую калием. Диарея может приводить к потере этого важного микроэлемента. Бананы, апельсины, картофель, персики и абрикосы богаты калием. Посоветуйтесь с врачом, следует ли вам устраивать разгрузочные дни, в течение которых вы будете потреблять только чистую воду. Такая диета дает возможность кишечнику отдохнуть, однако не обеспечивает организм всеми необходимыми питательными веществами, поэтому не должна длиться дольше трех-пяти дней. Ешьте пищу, в которой содержится мало клетчатки: белый хлеб, белый рис или макаронные изделия из твердых сортов пшеницы, злаковые каши, спелые бананы, вареные или тушеные фрукты без кожуры, творог, йогурт без кусочков фруктов, яйца, вареный или печеный картофель без кожуры, пюреобразные вареные овощи, мясо цыпленка или индейки без кожи, рыба. Не стоит есть хлеб, каши из цельного зерна, сырые овощи, орехи, бобовые культуры, семечки, попкорн, а также сырые фрукты и сухофрукты. Все эти продукты богаты клетчаткой, которая может привести к возникновению диареи и спазмам в кишечнике. Избегайте горячего или очень холодного питья – оно тоже может усугубить диарею.
  </PostContentItem>
  <PostContentItem>
    Не пейте кофе, чай с кофеином, алкогольные напитки, конфеты. Также избегайте жареной, жирной, острой пищи. Такая еда обладает раздражающим эффектом. Также не стоит пить и есть молоко и молочные продукты, в том числе и мороженое.
  </PostContentItem>
  <PostContentItem>
    <strong>Отклонения показателей крови.</strong> Во время лечения могут возникнуть различные заболевания – тромбоцитопения, анемия, снижение свертываемости крови, нейтропения.<br />
    Поэтому пациентам во время прохождения химиотерапии нужно регулярно сдавать анализ крови, чтобы следить за тем, как организм переносит лечение. И вовремя назначить корректирующие препараты, чтобы не допустить развития тяжелых осложнений. В некоторых случаях даже приходится приостановить лечение, чтобы улучшить показатели крови.
  </PostContentItem>
  <PostContentItem>
    <strong>Сухость во рту и стоматиты.</strong> Поскольку препараты химиотерапии воздействуют на слизистые ткани, нередко возникает такое осложление, как стоматит.<br />
    Клетки эпителия слущиваются со слизистой рта, она становится красной, отечной, образуются небольшие язвы. Рот становится очень сухим, появляются трещины на губах. Может возникать кровоточивость десен. Вероятность развития стоматита зависит от вида химиотерапии и вашего состояния. Из инфекций при стоматите чаще всего во рту развивается молочница – инфекция, вызванная грибами рода Candida. Молочница выглядит как белые бляшки или творожистого вида массы на слизистой щек и языка. Лечение состоит в назначении противогрибковых препаратов. Избежать стоматита или значительно уменьшить его проявления в ваших силах.
  </PostContentItem>
  <PostContentItem>
    Во-первых, до начала химиотерапии желательно сходить к зубному врачу и попытаться устранить все хронические проблемы (речь идет о воспалительных очагах – гингивит, пародонтит). Стоматолог, кроме того, посоветует вам способы предупреждения стоматита.
  </PostContentItem>
  <PostContentItem>
    Во-вторых, во время лечения желательно ежедневно осматривать свой рот на предмет покраснения, отечности, болезненности, белых налетов, кровоточивости. При проявлении любого из этих симптомов следует обратиться к стоматологу. Важно знать, что стоматит – только временное осложнение в ходе химиотерапии. Он исчезнет, когда завершится лечение и когда повысится уровень лейкоцитов.
  </PostContentItem>
  <PostContentItem>
    <strong>Повышение температуры после химиотерапии</strong> может быть связано не только с инфекцией, но и с так называемым гриппоподобным синдромом.<br />
    Некоторые лекарства вызывают гриппоподобный синдром. После введения препарата пациенты в течение нескольких часов или дней чувствуют себя так, будто у них грипп или простуда. Особенно часто это случается, если химиопрепараты комбинируются с биологической терапией (интерферон). Симптомы простуды – мышечные, суставные или головные боли, слабость, тошнота, субфебрильная лихорадка (обычно с температурой ниже 38°C), озноб, плохой аппетит – могут продолжаться в течение одного-трех дней. Для предотвращения таких эффектов эти препараты принимают на ночь и предваряют назначением жаропонижающих средств (не аспирина!). Однако инфекции также могут быть причиной этих симптомов. Поэтому сообщите о них врачу.
  </PostContentItem>
  <PostContentItem>
    <strong>Выпадение волос (алопеция).</strong> От выпадения волос во время химиотерапии, к сожалению, лекарства пока не изобрели.<br />
    Это не такой мучительный побочный эффект, как тошнота, слабость или температура, но он переносится женщинами часто даже более болезненно. Как быстро выпадут волосы, зависит от препарата. Иногда они выпадают полностью за неделю. Иногда за месяц. Чаще всего выпадать они начинают внезапно и обильно. Утром можно обнаружить всю подушку в волосах, или в руке останется большая прядь после душа. После волос на голове выпадают брови, ресницы и волосы на других участках тела. Полностью подготовиться к этому моменту невозможно. Но чтобы выпадение стало не таким заметным и шокирующим – лучше подстричь коротко волосы еще до начала процедур, чтобы привыкнуть. Особенно если волосы длинные. Когда они начнут выпадать, можно вообще побриться наголо и избежать стресса от наблюдения за постепенным облысением. Есть одно утешение: облысение – это не навсегда. Волосы обязательно отрастут. Они могут изменить цвет после химии и станут мягче – как пушок на голове у младенца. А потом вырастут новые, красивые. Чаще всего это происходит в течение полугода после окончания терапии. Более того, сегодня в ряде клиник имеются холодовые шлемы (они не спасут твои волосы, но могут снизить интенсивность их выпадения за счет сужения сосудов кожи головы). Не стесняйтесь спросить у вашего врача об этом. Ну а во время химии можно носить на голове красивые платки, шапочки, шляпки или парики. Это тяжелый, но временный этап. Главное – выздороветь!
  </PostContentItem>
  <PostContentItem>
    Важно бережно отнестись и к коже головы. В случае если кожа сухая, зудит или вас беспокоит перхоть, пользуйтесь деликатным кремом без отдушек. Можно использовать натуральное растительное масло (например, оливковое).
  </PostContentItem>
  <PostContentItem>
    Спите на подушках в наволочках из натуральной ткани (100-процентный лен или хлопок). Если вы не носите шапочку или парик, мажьте голову солнцезащитным кремом. Когда волосы начнут отрастать, мойте голову шампунем для младенцев и расчесывайте мягкой щеткой.
  </PostContentItem>
  <PostContentItem>



</Layout>  </PostContentItem>    <Divider />    <Divider />
  </PostContentItem>
</Layout>