---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Image from "../../assets/remissia/17.png";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";

const title = "Равное консультирование";
---

<Layout title={title}>
  <PostTitle>{title}</PostTitle>
  <img src={Image.src} alt={title} class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Твой опыт может помогать другим спасать их жизни!
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    Равные консультанты — консультанты, имеющие тот же диагноз или опыт, что и клиент (обычно пережившие опыт с серьезным диагнозом: рак, ВИЧ, нарко-алко-зависимость). По сути, это практика консультирования в формате «равный равному»: клиент и консультант являются представителями одного сообщества.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    Для того, чтобы стать <strong>равным консультантом, есть много причин</strong>: быть для других примером, вдохновением и поддержкой. Быть тем, кто обладает уникальным знанием и опытом жизни с болезнью, которые не приобретешь ни в одном из университетов. Кому-то именно равное консультирование помогло заняться активным самообразованием, создать пациентское сообщество, найти свое место в жизни.
  </PostContentItem>
  <PostContentItem>
    Подготовленные специалисты, имеющие профессиональную подготовку, принявшие свой диагноз и жизнь вместе с ним <strong>способны оказать информационную и эмоциональную поддержку</strong> другому человеку, оказавшемуся в сложной жизненной ситуации.
  </PostContentItem>
  <PostContentItem>
    <strong>Равный консультант не равно психолог</strong>, консультант является носителем уникального опыта проживания сходных ситуаций, с которыми психолог лично не сталкивался. Психолог не может сказать: «Я знаю, что ты чувствуешь». Он там не был, по ту сторону баррикад. А тот, кто был, может дать полнейшую эмоциональную поддержку, чувство плеча, единения.
  </PostContentItem>
  <PostContentItem>
    Равный консультант — это человек <strong>сопровождения</strong> в прямом смысле этого слова. Допустим, он поможет выбрать парик после химиотерапии, он знает лучший магазин, там можно получить отличный совет, примерить, купить — и обрадоваться, как классно ты вдруг выглядишь! Он довезет до группы взаимопомощи, потому что пациентка стесняется, не знает, как туда пойти, как там себя вести. Равный, после того как пациентка возьмет выписку у врача, распишет план действий на день.
  </PostContentItem>
  <PostContentItem>
    К сожалению, <strong>официально в Беларуси равных консультантов не обучают</strong>. Надеемся, что ситуация скоро изменится. Но уже сейчас ты можешь найти такую <strong>поддержку и помощь в сообществах пациентов</strong>. Многие пишут о своем опыте победы над раком в социальных сетях. В большинстве случаев такие женщины готовы им поделиться и помочь.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>