---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Image from "../../assets/posts/participants.png";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";
---

<Layout title="Кто принимает участие в диагностировании - Руками Трогать">
  <PostTitle>Кто принимает участие в диагностировании</PostTitle>
  <img
    src={Image.src}
    alt="Кто принимает участие в диагностировании"
    class="mb-12 w-full"
  />
  <PostTitleDescription>
    <h2 class="mb-5">Каких врачей нужно пройти и кто ставит диагноз?</h2>
  </PostTitleDescription>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    <strong>В случае с РМЖ все начинается с гинеколога.</strong> В идеальной ситуации,
    ты либо приходишь к нему на профилактический осмотр (некоторые опухоли довольно
    агрессивны, поэтому после 35 лет лучше делать это раз в полгода), либо уже с
    жалобой.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    <strong
      >В беларуском протоколе диагностирования и лечения РМЖ, для правильного
      определения стадии проводят следующие исследования:</strong
    >
  </PostContentItem>
  <PostContentItem>
    <ul class="list-disc pl-6">
      <li>УЗИ органов брюшной полости и таза.</li>
      <li>
        Остеосцинтиграфия - исследование, которое позволяет выяснить состояние
        костей.
      </li>
      <li>
        Рентгенологическое исследование органов грудной клетки, называемое чаще
        маммографией.
      </li>
      <li>Консультация гинеколога.</li>
      <li>Консультация невролога.</li>
      <li>Трепан-биопсия опухоли с морфологическим исследованием.</li>
      <li>
        Пункционная биопсия регионарных лимфатических узлов (при подозрении на
        их поражение) с цитологическим исследованием. Если по каким-то причинам
        аппарат недоступен, можно пройти исследование в Москве или
        Санкт-Петербург.
      </li>
      <li>КТ органов Грудной клетки, брюшной полости и малого таза.</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    <strong
      >Консультация невролога, КТ или МРТ головного мозга с контрастированием
      назначаются:
    </strong>
  </PostContentItem>
  <PostContentItem>
    <ul class="list-disc pl-6">
      <li>пациентам с III стадией опухолевого процесса;</li>
      <li>пациентам с триплет-негативными опухолями;</li>
      <li>
        пациентам моложе 35 лет пациентам с первично и вторично
        диссеминированным опухолевым процессом.
      </li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    По решению междисциплинарного консилиума назначается <strong
      >позитронно эмиссионная томография совмещенная с компьютерной томографией
      (ФДГ ПЭТ-КТ)</strong
    >.
  </PostContentItem>
  <PostContentItem>
    У пациентов с отягощенным семейным анамнезом, а также у пациентов моложе 40
    лет определяются <strong>мутации в генах BRCA1-2</strong>. Есть два варианта
    этого анализа, они отличаются количеством проверяемых мутаций. Лучше пройти
    более объемный, хоть он и дороже, чтобы информации было больше.
  </PostContentItem>
  <PostContentItem>
    <strong>Морфологическая диагностика</strong> выполняется до начала специального
    лечения и включает выполнение трепан-биопсии (в отдельных случаях пункционной
    (тонкоигольной) биопсии) первичного очага и регионарных лимфатических узлов (при
    подозрении на их поражение).
  </PostContentItem>
  <PostContentItem>
    <strong>Трепан-биопсия</strong> опухоли с обязательным определением рецепторов
    эстрогена (ER), прогестерона (PR), эпидермального фактора роста HER2/neu, Ki-67
    показана при планировании неоадъювантной терапии (химиотерапия, которая проводится
    до операции). При уровне экспрессии протеина HER2/neu 2+ необходимым является
    FISH или CISH – исследование.
  </PostContentItem>
  <PostContentItem>
    <strong>Диагноз ставит врач-онколог</strong> на основании достаточного (для твоего
    случая) количества обследований.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>
