---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
---

<Layout title="Что такое рак - Руками Трогать">
  <PostTitle>Что такое рак</PostTitle>
  <p>Content for the page goes here.</p>
</Layout>
