---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Image from "../../assets/operacija/3.png";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";

const title = "Классификация TNM";
---

<Layout title={title}>
  <PostTitle>{title}</PostTitle>
  <img src={Image.src} alt={title} class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Международная TNM-Классификация и стадии опухоли
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    Эту аббревиатуру ты точно запомнишь навсегда! Определение стадии поможет врачу выбрать наилучшие варианты лечения, а другим специалистам — одинаково понимать твое состояние и диагноз.
    <br />
    Степень опухоли указывает, является ли рак локализованным и/или насколько далеко распространился раковый процесс. Указывается также поражены ли регионарные лимфоузлы или другие органы.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    Для этой цели используется TNM-Классификация, в которой:
    <ul class="list-disc pl-6 mt-2">
      <li>Символ <strong>"Т"</strong> — оценка распространения рака груди (первичная опухоль)</li>
      <li>Символ <strong>"N"</strong> — оценка поражения регионарных лимфоузлов</li>
      <li>Символ <strong>"M"</strong> — оценка наличия метастазов в другие органы (отдаленные метастазы)</li>
    </ul>
    <br />
    Таким образом, рак молочной железы принято описывать так:
  </PostContentItem>
  <PostContentItem>
    <ul class="list-disc pl-6">
      <li><strong>Т</strong> — первичная опухоль.</li>
      <li><strong>TX</strong> — первичная опухоль недоступна оценке.</li>
      <li><strong>Т0</strong> — нет признаков первичной опухоли.</li>
      <li><strong>Tis</strong> — рак in situ:
        <ul class="list-disc pl-6">
          <li><strong>Tis (DCIS)</strong> — протоковая карцинома in situ</li>
          <li><strong>Tis (LCIS)</strong> — дольковая карцинома in situ</li>
          <li><strong>Tis (Paget)</strong> — болезнь Педжета соска, не связанная с инвазивной карциномой, и/или карциномой in situ (DCIS и/или LCIS) в подлежащей паренхиме молочной железы. Карциному паренхимы молочной железы, сочетающейся с болезнью Педжета, классифицируют на основании размеров и характеристик опухоли паренхимы, при этом должно быть отмечено наличие болезни Педжета.</li>
        </ul>
      </li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    Теперь опишем, что означает твоя аббревиатура с цифровыми и буквенными индексами.
    <ul class="list-disc pl-6">
      <li><strong>Т1</strong> — опухоль не более 2 см в наибольшем измерении</li>
      <li><strong>Т1mi</strong> — микроинвазия (не более 0,1 см в наибольшем измерении)<br /><em>Примечание: микроинвазия — распространение опухолевых клеток за пределы базальной мембраны в прилежащие ткани при отсутствии очагов более 0,1 см. При наличии множественных очагов микроинвазии для ее классификации используют размер наибольшего очага. Наличие множественных очагов микроинвазии должно быть отмечено так же, как при множественных крупных инвазивных карциномах.</em></li>
      <li><strong>Т1а</strong> — более 0,1 см, но не более 0,5 см</li>
      <li><strong>Т1b</strong> — более 0,5 см, но не более 1 см</li>
      <li><strong>Т1с</strong> — более 1 см, но не более 2 см</li>
      <li><strong>Т2</strong> — опухоль более 2 см, но не более 5 см</li>
      <li><strong>Т3</strong> — опухоль более 5 см</li>
      <li><strong>Т4</strong> — опухоль любого размера с непосредственным распространением на грудную стенку и/или кожу (изъязвление или узелки на коже)
        <ul class="list-disc pl-6">
          <li><strong>Т4а</strong> — распространение на грудную стенку за исключением инвазии в грудную мышцу</li>
          <li><strong>Т4b</strong> — изъязвление, сателлитные узелки на коже или отек кожи (включая вид «лимонной корочки»)</li>
          <li><strong>Т4с</strong> — признаки Т4а и Т4b вместе</li>
          <li><strong>Т4d</strong> — воспалительная форма карциномы<br /><em>Примечание: воспалительная форма карциномы молочной железы характеризуется диффузным уплотнением кожи с эризипелоидными краями, обычно без подлежащих масс. Если результат биопсии кожи отрицательный и нет локального, поддающегося измерению очага первичной карциномы, категорию Т классифицируют как патологическую стадию рTX воспалительной формы карциномы (Т4d). Формирование углублений на коже, втяжение соска или другие изменения кожи, кроме описанных в T4b и T4d, могут развиваться при Т1, Т2 или Т3 без учета в классификации.</em></li>
        </ul>
      </li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    <strong>N — регионарные лимфатические узлы.</strong>
    <ul class="list-disc pl-6">
      <li><strong>Nx</strong> — регионарные лимфатические узлы не могут быть оценены (например, предварительно удалены)</li>
      <li><strong>N0</strong> — нет метастазов в регионарных лимфатических узлах</li>
      <li><strong>N1</strong> — метастаз в подвижном подмышечном лимфатическом узле (узлах) I, II уровня на стороне поражения</li>
      <li><strong>N2</strong> — метастазы в подмышечных лимфатических узлах I, II уровня на стороне поражения, спаянные между собой; клинически определяемый внутренний маммарный лимфатический узел (узлы) на стороне поражения при отсутствии клинических признаков метастазов в подмышечных лимфатических узлах
        <ul class="list-disc pl-6">
          <li><strong>N2a</strong> — фиксированные друг с другом или с другими структурами метастазы в подмышечных лимфатических узлах</li>
          <li><strong>N2b</strong> — метастазы в клинически определяемых внутренних маммарных лимфатических узлах при отсутствии клинических признаков метастазов в подмышечных лимфатических узлах</li>
        </ul>
      </li>
      <li><strong>N3</strong> — метастазы в подключичных лимфатических узлах III уровня на стороне поражения с вовлечением или без вовлечения подмышечных лимфатических узлов I, II уровня; или метастазы в клинически определяемых внутренних маммарных лимфатических узлах на стороне поражения при наличии клинических признаков метастазов в подмышечных или метастазы в подключичных лимфатических узлах с или без метастазов в подмышечных и внутренних маммарных лимфатических узлах
        <ul class="list-disc pl-6">
          <li><strong>N3a</strong> — метастазы в подключичных лимфатических узлах (узле)</li>
          <li><strong>N3b</strong> — метастазы во внутренних маммарных и подмышечных лимфатических узлах</li>
          <li><strong>N3c</strong> — метастазы в надключичных лимфатических узлах (узле)</li>
        </ul>
      </li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>