---
import Layout from '../../layouts/Layout.astro'
import PostTitle from '../../components/PostTitle.astro'
import Divider from '../../components/Divider.astro'
import PostContentItem from '../../components/PostContentItem.astro'
import PostTitleDescription from '../../components/PostTitleDescription.astro'
import Image from '../../assets/operacija/11.png'
---

<Layout title="Лимфостаз - Руками Трогать">
  <PostTitle>Лимфостаз</PostTitle>
  <img src={Image.src} alt="Лимфостаз" class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      С этим часто сталкиваются женщины после мастэктомии.
    </h2>
  </PostTitleDescription>

  <PostContentItem>
    Лимфатическая система похожа на кровеносную – лимфа двигается по всему организму по тончайшим протокам, перенося крупные молекулы и даже целые клетки, которые не могут попасть в лимфатическую систему.
</PostContentItem>
<PostContentItem>
    <Divider />
  </PostContentItem>
<PostContentItem>
    После мастэктомии отток лимфы от руки и области грудной клетки, лимфа от которой собиралась в удаленные лимфатические узлы, нарушается, что в 8–40% случаев может приводить к возникновению отека. Это осложнение называется лимфостаз, лимфедема или постмастэктомический отек. Долгое время врачи-онкологи воспринимали это осложнение как необходимое зло, ведь главное – вылечить рак, а уж то, что женщина будет страдать от отека и не сможет полноценно использовать руку – ну это уж издержки. Главное, жива. Более того, часть врачей считают и говорят, что лимфостаз после такой операции – это вариант нормы. Но это не так! <strong>Лимфостаз (даже ранний) – НЕ НОРМА и его обязательно нужно лечить.</strong>

</PostContentItem>


  <PostContentItem>
    <strong>Лимфатический отек подразделяют на 4 стадии:</strong>
    <ul class="list-none pl-0  mt-2">
      <li>
        <strong>0 стадия</strong> — это состояние, когда возможности лимфатической системы снизились (за счет операции, лучевой терапии), но отека мы не видим. В это время он может либо полностью отсутствовать, либо может накапливать жидкость в подкожной жировой клетчатке, но мы этих изменений пока распознать не можем.
      </li>
      <li>
        <strong>I стадия</strong> — лимфатический отек возникает время от времени. Чаще всего отек появляется к вечеру и полностью исчезает к утру. В это время лимфатические сосуды активно работают, но постепенно их возможности иссякают.
      </li>
      <li>
        <strong>II степень</strong> — отек становится стойким. В ряде случаев после отдыха он уменьшается, но полностью не проходит. Это говорит нам о том, что лимфангиомы (маленькие лимфатические «сердечки») не справляются с возложенной на них нагрузкой и им срочно требуется помощь.
      </li>
      <li>
        <strong>III степень</strong> — лимфатический отек плотный, постоянный. К этому моменту лимфангионы начинают погибать – атрофироваться. Лимфатическая система продолжает выполнять свои функции, но ее состояние постоянно ухудшается. Многие изменения, которые происходят на этой стадии, являются полностью необратимыми.
      </li>
    </ul>
  </PostContentItem>

  <PostContentItem>
    Это опасное состояние, которое может привести to тому, что руку могут предложить ампутировать. Однако несмотря на то что даже в самых запущенных случаях лимфедемы можно избежать ампутации, нужно помнить, что <strong>отек легче предотвратить, чем лечить.</strong>
  </PostContentItem>

  <PostContentItem>
    <h3 class="text-xl font-bold">В профилактике отеков есть три основных момента:</h3>
  </PostContentItem>
<PostContentItem>
    Начало ношения профилактического <strong>компрессионного трикотажа</strong> позволяет снизить риск развития лимфатического отека у женщин после мастэктомии <strong>более чем в 2 раза.</strong>
</PostContentItem>
<PostContentItem>
    Очень важным является изучение пациентом информационных материалов или прохождение специальных школ пациентов. Это позволяет сформировать <strong>понимание того, как работает лимфатическая система</strong> и каким образом наша повседневная активность влияет на ее работу, а также получить практические навыки, которые позволяют поддерживать работу лимфатической системы после ее повреждения.
</PostContentItem>
<PostContentItem>
    После операции нужно помнить о снижении местного иммунитета в области, где были удалены лимфатические узлы, и <strong>избегать ситуаций, увеличивающих риск проникновения инфекции под кожу</strong>. Для этого любую работу, при которой можно пораниться, нужно <strong>делать в перчатках</strong>. Быть особенно аккуратной, делая маникюр – <strong>отказаться от обрезного маникюра совсем, не отрывать заусенцы</strong>. До и после сеанса маникюра следует обработать кожу рук не спиртовым антисептическим раствором.
</PostContentItem>
<PostContentItem>
    Работать в саду – <strong>только в перчатках</strong>.
</PostContentItem>
<PostContentItem>
    Важно <strong>избегать излишней физической и статической нагрузки</strong> без компрессионного рукава. Это увеличивает нагрузку на лимфатическую систему. Занятия лечебной физкультурой должны проводиться в правильно подобранном компрессионном трикотаже (лучше, если его вам подберет врач-реабилитолог, специалист в области лимфатических отеков). Также нужно <strong>подобрать правильное белье</strong> — без косточек, с широкими бретелями, которые нигде не давят и не пережимают.
  </PostContentItem>

  <PostContentItem>
    Если отек все-таки возник, то нужно максимально быстро обратиться к врачу-лимфологу. Методом лечения лимфедемы, который имеет один из самых высоких уровней доказательности (1B), является <strong>комплексная физическая противоотечная терапия (КФПТ, CDT)</strong>.
    </PostContentItem>
    <PostContentItem>
        Эта консервативная методика лечения включает в себя <strong>мануальный лимфодренаж, компрессионное бандажирование, лечебную физкультуру и уход за кожей</strong>. Несмотря на кажущуюся простоту, сертифицированных специалистов совсем немного, и нужно быть очень осторожными при выборе лечебного учреждения.
    </PostContentItem>
    <PostContentItem>
        Очень популярная <strong>прессотерапия</strong> (лимфопресс, метод перемежающейся пневмокомпрессии) является потенциально <strong>опасным методом</strong> лечения лимфедемы, и прежде чем попробовать эту методику, вам следует обязательно получить консультацию врача-лимфолога.
    </PostContentItem>
    <PostContentItem>
    В ряде случаев на начальных стадиях отека можно сделать <strong>микрохирургическую операцию</strong> для формирования дополнительных путей оттока лимфы. Однако на 2-й и 3-й стадии такие операции, как правило, не дают предсказуемого положительного эффекта и хороших отдаленных результатов. Уровень доказательности подобных оперативных вмешательств <strong>один из самых низких</strong> – 2С.
  </PostContentItem>

  <PostContentItem>
    Для того чтобы не допустить развития лимфедемы или избежать осложнений этого заболевания, очень важно разобраться в том, что происходит с вашим организмом. Однако <strong>при любых признаках отека нужно сразу обратиться к врачу-лимфологу</strong>.
  </PostContentItem>

  <PostContentItem>
    <strong>Сообщества, где собрано много полезной информации от реабилитологов-лимфологов:</strong>
    <ul class="list-disc pl-6 mt-2">
      <li>
        <a href="https://www.instagram.com/makarov_ig/" class="underline decoration-solid hover:no-underline" target="_blank" rel="noopener">Врач-лимфолог Иван Макаров</a> — один их самых востребованных специалистов-лимфологов, это очень дефицитная профессия, поэтому рекомендуем погрузиться в его онлайн-материалы, также он написал три книги о лимфе и является редактором журнала LIMPHA.
      </li>
      <!-- <li>
        <a href="https://t.me/lymphedemavmeste" class="underline decoration-solid hover:no-underline" target="_blank" rel="noopener">Лимфедема: мы вместе</a> — телеграм-канал лимфолога Ровной А.В.
      </li> -->
    </ul>
  </PostContentItem>

  <PostContentItem>
    <Divider />
  </PostContentItem>

  <PostContentItem>
    Источник: <a href="https://nnood.ru/" class="underline decoration-solid hover:no-underline" target="_blank" rel="noopener">nnood.ru</a>
  </PostContentItem>
</Layout>