---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";
import Image from "../../assets/remissia/6.png";
---

<Layout title="Изменения в мышцах и нервах - Руками Трогать">
  <PostTitle>Изменения в мышцах и нервах</PostTitle>
  <img src={Image.src} alt="Изменения в мышцах и нервах" class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Неврологические последствия индивидуальны, кто-то испытывает дискомфорт только в процессе лечения, у кого-то проблемы остаются в ремиссии.
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    <strong>Периферические невропатии</strong> являются распространенным побочным эффектом химиотерапии, особенно для <strong>платиносодержащих агентов</strong>, таких как цисплатин и оксалиплатин. Периферическая невропатия, вызванная цисплатином, вызывает прогрессирующее онемение и парестезии, которые <strong>начинаются по краям пальцев рук и ног</strong> и распространяются внутрь, ощущение боли и температуры почти всегда сохраняется, что отличает невропатию цисплатина от большинства невропатий, которые могут быть вызваны самим раком.
  </PostContentItem>
  <PostContentItem>
    <strong>В зависимости от типа повреждённых нервных волокон дистальная нейропатия может быть:</strong>
    <ul class="list-disc pl-6 mt-2">
      <li>чувствительной или сенсорной с онемениями, извращенной кожной чувствительностью, болью;</li>
      <li>двигательной или моторной со снижением силы, неадекватностью функции мышц, мешающей нормально ходить и стоять;</li>
      <li>смешанной.</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    Не найдено лекарств, которые способны остановить дальнейшее развитие полинейропатии, возможно только купирование неприятных симптомов, а восстановление повреждений «доверено» организму пациента — как и когда сможет, так и будет улучшение. Используются лекарственные средства, улучшающие питание нервных клеток и проводимость импульсов по отросткам, уменьшающие возбудимость и патологическую импульсацию.
  </PostContentItem>
  <PostContentItem>
    Поскольку нет общепринятой тактики терапии, очень многое зависит от диагностических возможностей учреждения и квалификации специалистов. <strong>Для успеха крайне важно (!) ежедневное взаимодействие химиотерапевта с неврологом, обязательно имеющим опыт лечения токсических повреждений нервной системы.</strong>
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>