---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Image from "../../assets/operacija/4.png";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";

const title = "Какое бывает лечение";
---

<Layout title={title}>
  <PostTitle>{title}</PostTitle>
  <img src={Image.src} alt={title} class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Назначение лечения и междисциплинарный метод
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    В зависимости от типа и стадии РМЖ, тебя может ожидать чаще всего несколько вариантов лечения и их комбинации.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    <strong>Лучевая терапия</strong> — заключается в использовании радиоактивных лучей для уничтожения онкологических клеток. Лучевая терапия может быть применена в различных стадиях РМЖ, например, для контроля послеоперационной рецидивности, для лечения метастазов или для паллиативной помощи.
  </PostContentItem>
  <PostContentItem>
    <strong>Хирургия</strong> — является одним из основных методов лечения рака молочной железы. Операция может включать в себя удаление только заболевшей молочной железы (локальная выживаемость) или/и здоровой железы (мастэктомия), а также удаление лимфатических узлов (аузектомия). Эти операции могут выполняться как открытым способом, так и с помощью видеоассистированной технологии (VATS).
  </PostContentItem>
  <PostContentItem>
    В зависимости от стадии заболевания и молекулярного профиля рака молочной железы, может быть проведена необходимая реконструктивная хирургия.
  </PostContentItem>
  <PostContentItem>
    <strong>Лекарственная терапия</strong> — может включать различные типы лекарств, в зависимости от стадии заболевания и молекулярно-биологического профиля клеток рака.
  </PostContentItem>
  <PostContentItem>
    <strong>Химиотерапия</strong> — это метод лечения, в котором используются лекарственные препараты, которые направлены на уничтожение или замедление роста клеток рака. Химиотерапия может использоваться как самостоятельно, так и в сочетании с другими методами лечения (хирургия или лучевая терапия). Химиотерапия РМЖ может быть неоадъювантной и адъювантной (соответственно, до и после хирургического вмешательства) или паллиативной (когда лечение направлено на контроль болезни и улучшение качества жизни пациента).
  </PostContentItem>
  <PostContentItem>
    Химиотерапия может быть назначена в виде таблеток или инъекций, капельниц, и курс лечения может длиться от нескольких недель до нескольких месяцев. Химиотерапия вызывает ряд побочных эффектов, о них мы поговорим в соответствующем разделе и подскажем, как с ними справляться.
  </PostContentItem>
  <PostContentItem>
    <strong>Таргетная терапия</strong> — это метод лечения, который направлен на борьбу с конкретными механизмами, которые позволяют клеткам рака расти и распространяться. Она основана на использовании лекарств, которые могут блокировать определенные белки, сигналы или рецепторы, специфичные для клеток рака. В лечении рака молочной железы таргетная терапия может использоваться в качестве дополнительного средства к хирургии, лучевой и химиотерапии, а также для лечения метастатического рака молочной железы.
  </PostContentItem>
  <PostContentItem>
    <strong>Иммунотерапия</strong> — это метод лечения, который используется для активации иммунной системы организма для борьбы с раком. Он может включать в себя использование иммуномодуляторов, которые помогают увеличить количество иммунных клеток, которые борются с раком, или иммунотерапевтические антитела, которые направлены на конкретные молекулы, которые присутствуют на поверхности клеток рака. Иммунотерапия применяется в сочетании с другими методами лечения, такими как химиотерапия и хирургия.
  </PostContentItem>
  <PostContentItem>
    <strong>Гормонотерапия</strong> — ​​это метод лечения рака молочной железы, основанный на использовании гормонов или их антагонистов для борьбы с заболеванием. Этот метод используется в основном для лечения гормонозависимого рака молочной железы, когда клетки рака получают сигнал для роста и развития от гормонов, таких как эстрогены и прогестерон.
  </PostContentItem>
  <PostContentItem>
    <strong>Дистанционная лучевая терапия (внешняя лучевая терапия)</strong> — представляет собой метод лечения рака молочной железы, в котором используется рентгеновское излучение для нанесения токсического удара по опухолевым клеткам. Лучи направляются на опухоль с помощью специального оборудования, не касаясь здоровых тканей и органов. Этот метод может использоваться как в качестве основного лечения, так и в качестве дополнительного к другим терапиям, таким как химиотерапия и хирургия.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>