---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";
import Image from "../../assets/remissia/9.png";
---

<Layout title="Где купить белье после мастэктомии - Руками Трогать">
  <PostTitle>Где купить белье после мастэктомии</PostTitle>
  <img src={Image.src} alt="Где купить белье после мастэктомии" class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Заранее скажем, что в идеале примерять белье на себе, ведь оно должно быть максимально комфортным. Но, конечно, это не всегда возможно, поэтому есть варианты заказкать белье онлайн.
    </h2>
  </PostTitleDescription>

  <PostContentItem>
    Не стесняйся позвонить продавцу и уточнить волнующие тебя вопросы по качеству, размеру, материалам, уточни, какие условия возврата.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    Вот несколько магазинов и брендов, которые нам посоветовали сами онкопациентки.
  </PostContentItem>
  <PostContentItem>
    <strong>Самые популярные магазины такого белья в Минске:</strong>
    <ul class="list-disc pl-6 mt-2">
      <li><a href="https://www.bodymed.by/" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">Бодимед на Я.Коласа, 21</a></li>
      <li><a href="https://fest-line.by/" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">Фэст-лайн на Комсомольской, 14</a></li>
      <li><a href="https://valento.by/" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">Интернет-магазин Валенто</a></li>
      <li><a href="http://seisimed.by/ru/our-activity/amoena/" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">Amoena</a></li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    Очень часто можно заказть доставку белья прямо в больницу.
  </PostContentItem>
  <PostContentItem>
    Также можно попробовать найти белье на <a href="https://www.wildberries.by/" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">wildberries</a> – рекомендуем тебе внимательно ознакомиться с отзывами, а также проконсультироваться с продавцом онлайн и уточнить процедуру возврата.
  </PostContentItem>
  <PostContentItem>
    Есть еще один лайфхак: подходящие модели белья можно найти в магазинах, где продается спортивное белье. Если у тебя или подруг есть такая возможность путешествовать, загляни в магазины LINDEX или Primark, там есть много интересных и подходящих для тебя моделей по демократичным ценам. В Беларуси эти бренды пока не представлены.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>