---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";
import Image from "../../assets/remissia/10.png";

const title = "Кому и зачем нужно носить рукав";
---

<Layout title={title}>
  <PostTitle>{title}</PostTitle>
  <img src={Image.src} alt={title} class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      В большинстве случаев при операции РМЖ удаляют и регионарные лимфоузлы, с этим связан риск развития лимфатического отека (лимфедемы).
    </h2>
  </PostTitleDescription>
  <PostContentItem>
      Отек при лимфедеме развивается из-за нарушения оттока жидкости по лимфатическим сосудам. Дебют лимфедемы может быть обусловлен инфекцией (например, <a href="https://www.krasotaimedicina.ru/diseases/infectious/erysipelas" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">рожистым воспалением</a>), травмой, ожогом, хирургическим вмешательством, связанным с удалением или повреждением лимфатических узлов.
    </PostContentItem>
    <PostContentItem>
      <Divider />
    </PostContentItem>
  <PostContentItem>
    Необходимо ограничивать физическую нагрузку на пораженную конечность, <strong>не более 1 кг в первые полгода, не более 2 кг — всю жизнь.</strong> При выявлении лимфедемы на начальных стадиях в большинстве случаев можно не только остановить развитие заболевания, но и устранить уже имеющиеся проблемы, поэтому при первых признаках лимфедемы тебе следует обращаться к врачу.
  </PostContentItem>
  <PostContentItem>
    Пациентам с нарушением оттока лимфы и повышенным риском развития лимфедемы рекомендуют не создавать дополнительных препятствий лимфооттоку, это значит, что <strong>теперь тебя ждут даже такие ограничения:</strong>
    <ul class="list-disc pl-6 mt-2">
      <li>не следует носить сумочку на больной руке</li>
      <li>измерять артериальное давление на пораженной руке</li>
      <li>делать в нее инъекции и капельницы</li>
      <li>сдавать кровь на анализ</li>
      <li>не рекомендуется ходить босиком</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <strong>Необходимо</strong>:
    <ul class="list-disc pl-6 mt-2">
      <li>содержать пораженную конечность в чистоте</li>
      <li>готовить пищу, мыть посуду, убирать в защитных перчатках</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <strong>Существует два типа компрессионных рукавов и перчаток – круглой вязки (для профилактики) и плоской вязки (для лечения).</strong> Однако, мы бы хотели сконцентрироваться именно на рукаве плоской вязки, поскольку рукав круглой вязки несет в себе мало практической пользы.
  </PostContentItem>
  <PostContentItem>
    Есть стандартные размеры, но подходят они не всем, врач-лимфолог может сделать правильные замеры, выбрать и заказать рукав. Даже если отек совсем небольшой, не более 0,5 см, лучше приобрести рукав плоской вязки, так как его можно использовать и для профилактики. А наоборот не получится – круглая вязка не годится для лечения.
  </PostContentItem>
  <PostContentItem>
    Также врач скажет вам, есть ли необходимость пройти специальный массаж профилактически и обучит приемам самомассажа.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>