---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";
import Image from "../../assets/remissia/4.png";
---

<Layout title="Профилактика лимфостаза - Руками Трогать">
  <PostTitle>Профилактика лимфостаза</PostTitle>
  <img src={Image.src} alt="Профилактика лимфостаза" class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      По статистике лимфостаз (застой лимфы) развивается у 30% больных со злокачественными новообразованиями.
    </h2>
</PostTitleDescription>
<PostContentItem>
    <Divider />
</PostContentItem>
<PostContentItem>
    Он ограничивает подвижность, вызывает отеки и боль. Для профилактики лимфостаза и борьбы с ним используются специальный <strong>массаж, а также аппаратные методики</strong>, например лечение при помощи лимфодренажного аппарата Lympha Press Optimal, позволяющего точно соблюсти силу давления. В реабилитационных отделениях в Беларуси, врачи-реабилитологи иногда назначают популярную ранее прессотерапию. Однако, в современной комплексной физической противоотечной терапии (КФПТ) этот метод уже не используется, поэтому мы бы не рекомендовали его всем без исключения.
  </PostContentItem>
  <PostContentItem>
    <strong>Очень важно попасть на прием к врачу лимфологу</strong>, потому что рекомендации и подбор компрессионного рукава должны быть индивидуальными, так как в некоторых случаях прессотерапия может даже навредить (например, если отек уже большой и быстро прогрессирует). Пожалуйста, отнесись к этому вопросу крайне серьезно.
  </PostContentItem>
  <PostContentItem>
    <strong>Если совсем нет возможности попасть на консультацию очно, некоторые российские врачи консультируют онлайн.</strong>
    <!-- Много информации на эту тему собрано в телеграмм-канале Лимфедема вместе, созданном врачом-лимфологом из РФ Ровной Александрой Вадимовной. -->
  </PostContentItem>
  <PostContentItem>
    Там в закрепленных сообщения ты найдешь упражнения для профилактики и лечения лимфедемы <a href="https://youtu.be/DEr98c0svLc" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">часть 1</a> и <a href="https://youtu.be/Y2JlQvUKZTE" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">часть 2</a>,
    <!-- лечебная физкультура,  -->
    <a href="https://telegra.ph/Zachem-mne-nuzhen-vrach-limfolog-Kak-stavitsya-diagnoz-limfedemy-07-27" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">полезные статьи</a> и <a href="https://youtu.be/KKHc4flt_sA" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">видео</a> (начинается с 5-ой минуты). Данная информация вполне заменяет все методички, отвечает на большинство вопросов по профилактике и лечению. Будет здорово, если ты уделишь время их изучению самостоятельно.
  </PostContentItem>
  <PostContentItem>
    <strong>Также придется носить компрессионный рукав.</strong> Существует два типа компрессионных рукавов и перчаток: круглой вязки (для профилактики) и плоской вязки (для лечения). Однако, мы бы хотели сконцентрироваться именно на рукаве плоской вязки, поскольку рукав круглой вязки несет в себе не много практической пользы.
  </PostContentItem>
  <PostContentItem>
    Есть стандартные размеры, но подходят они не всем, врач-лимфолог может сделать правильные замеры, выбрать и заказать рукав по индивидуальным меркам. Даже если отек совсем небольшой, не более 0,5 см, лучше приобрести рукав плоской вязки, так как его можно использовать и для профилактики. Он тебе пригодится также: при перелетах, физической нагрузке и при ЛФК. А наоборот не получится – круглая вязка не предназначена для лечения. Также врач скажет тебе, есть ли необходимость пройти специальный массаж профилактически и обучит приемам самомассажа.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>