---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="[Page Title] - Руками Трогать">
  <Section>
    <h1
      class="text-[40px] mb-12 font-semibold leading-[32px] lg:text-[70px] lg:leading-[56px] lg:text-center"
    >
      [Page Title]
    </h1>

    <div class="space-y-6 text-[18px] leading-[26px]">
      <p>[Content goes here]</p>
    </div>
  </Section>
</Layout>
