---
import mainImage from "../assets/main/top-banner.png";
import ArrowImage from "../assets/main/arrow.svg";
import PageTitle from "./MainPageTitle.astro";
---

<div class="sm:flex sm:items-center">
  <div class="sm:w-[50%] sm:pr-10">
    <PageTitle>Путь пациента</PageTitle>
    <h2
      class="text-[20px] font-semibold leading-[24px] sm:text-[15px] sm:leading-[18px] lg:text-center lg:text-[18px] lg:leading-[24px]"
    >
      Привет, дорогая!<br />Мы создали для тебя гид, который поможет лучше
      узнать особенности пути онкопациента в Беларуси – начиная от постановки
      диагноза и заканчивая качеством твоей жизни в ремиссии
    </h2>
    <img
      src={ArrowImage.src}
      class="hidden lg:block m-auto mt-10"
      alt="Стрелка вниз"
    />
  </div>
  <div class="sm:w-[50%]">
    <img
      src={mainImage.src}
      alt="Человек в белом спортивном бюстгальтере сидит за белым столом на нежно-розовом фоне, глядя на конфету. Атмосфера спокойная и созерцательная."
      class="w-full h-auto pt-8 sm:py-0"
    />
  </div>
</div>
