<h1
  class="text-[40px] mb-12 font-semibold leading-[32px] sm:text-[60px] sm:leading-[55px] lg:text-[70px] lg:leading-[56px] lg:text-center xl:text-[80px] xl:leading-[64px] 2xl:text-[120px] 2xl:leading-[90px]"
>
  <slot />
</h1>
