<h1
  class="text-[40px] mb-12 font-semibold leading-[32px] md:max-w-[500px] md:mx-auto md:mb-[100px] md:text-[60px] md:leading-[65px] lg:text-[70px] lg:leading-[56px] 2xl:text-[100px] 2xl:leading-[110px] 2xl:max-w-[800px] 2xl:pt-[150px]"
>
  <slot />
</h1>
